[Desktop Entry]
Version=1.1
Type=Application
Name=vtm
Comment=Text-based Desktop
GenericName=Text-based Desktop
Exec=vtm
Icon=vtm
Terminal=false
Categories=System;Utility;TerminalEmulator;
Keywords=terminal;multiplexer;vtm;
StartupNotify=true
StartupWMClass=vtm
Actions=run-desktop;run-terminal;run-monitor;

[Desktop Action run-desktop]
Name=Run Desktop
Exec=vtm

[Desktop Action run-terminal]
Name=Run Terminal
Exec=vtm -r term

[Desktop Action run-monitor]
Name=Run Log Monitor
Exec=vtm -q -r term vtm --monitor